@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --frontend-color: #6BD1FF;
  --backend-color: #00C86F;
  --innovacion-color: #FFBA05;
  --font-size-base: 16px;
}

@layer base {
    body {
      font-family: 'Source Sans 3', sans-serif;
    }
  }